@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-tile-pane {
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}
  
.leaflet-div-icon.selected {
  /* filter: invert(38%) sepia(79%) saturate(2983%) hue-rotate(339deg) brightness(123%) contrast(92%); */
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(102%) contrast(101%);
  background: grey !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}